name: Make release
on:
  push:
   branches:
    - main
env:
  base_branch: main
  upstream_branch: v1
jobs:
  reset:
    name: Reset version branch
    runs-on: ubuntu-latest
    steps:
      - name: Reset upstream branch to main
        uses: nicksnell/action-reset-repo@master
        with:
          base_branch: ${{ env.base_branch }}
          reset_branch: ${{ env.upstream_branch }}
          github_token: ${{ secrets.GITHUB_TOKEN }}

  make-release:
    name: Make release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install convco
        run: |
          curl -OL https://github.com/convco/convco/releases/latest/download/convco-deb.zip
          unzip convco-deb.zip
          sudo dpkg -i convco*.deb

      - name: Get version info
        id: convco
        env:
          CONVCO_INITIAL_BUMP_VERSION: '1.0.0'
        run: |
          pwd
          ls -lah

          git fetch --tags

          export convco_current_version="$(convco version)"
          export convco_version="$(convco version --bump)"

          echo "current_version=${convco_current_version}" >> $GITHUB_OUTPUT
          echo "version=${convco_version}" >> $GITHUB_OUTPUT

          convco changelog > CHANGELOG.md

          echo "Current version: $convco_current_version"
          echo "New Version: $convco_version"
          echo "Changelog:"
          cat CHANGELOG.md

      - name: Tag
        uses: laputansoft/github-tag-action@v4.6
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          tag: v${{ steps.convco.outputs.version }}
          release_branches: main

      - name: Release
        uses: comnoco/create-release-action@v2.0.5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: v${{steps.convco.outputs.version}}
          release_name: ${{steps.convco.outputs.version}}
          body_path: CHANGELOG.md
